/* styling header for three pages*/
.headerBackground{
    height:100vh;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.homePage .headerBackground{
    background-image:url(../sunshine-assets/home-1.jpeg);
}

.blogPage .headerBackground{
    background-image:url(../sunshine-assets/blog-1.jpeg);
}

.contactPage .headerBackground{
    background-image:url(../sunshine-assets/contact-1.jpeg);
    height:80vh;
}

/* layout and text styling of nav section */
header{
    .navBar{
        height:15vh;
        display:flex;
        align-items:center;
    }
    .navLeft,
    .navRight{
        display:flex;
        justify-content:space-between;
        align-items: flex-end;
        flex:1 0 25%;
    }
    .fa{
        visibility: hidden;
    }

    h1,h2{
        font-family: $headerFont;
        font-size: 5.8rem;
        font-weight:700;
        text-align:center;
        line-height:2.6rem;
        letter-spacing:1.4px;
        flex:1 0 50%; 
    }

    a{
        font-size:1.4rem;
        font-weight:600;
    }

    a:hover{
        color:$bodyTextColor;
    }

    .fas{
        font-size:1.9rem;
    }
    .fa-shopping-bag{
        position:relative;
    }
    // a sign for the number of items in the shopping bad
    .fa-shopping-bag:after{
        font-family: 'Poppins', sans-serif;
        font-size:1rem;
        content:"2";
        display:block;
        color:black;
        padding:0.4rem 0.6rem;
        background-color:#A4F1DC ;
        border:#A4F1DC;
        border-radius:50%;
        position:absolute;
        top:13px;
        left:8px;
    }
}

// media query for header
@media (max-width:1300px){
    .homePage .headerBackground{
        background-position:right;
    }
}

@media (max-width:1000px){
    .headerBackground{
        height:70vh;
    }
    .contactPage .headerBackground{
        height:50vh;
    }
        header{
            .navLeft,
            .navRight{
                height:0;
                overflow:hidden;
                display:none;
            }
            .fa-bars{
                visibility:visible;
                font-size:3rem;
            }
        }
}

@media (max-width:650px){
    .headerBackground{
        height:60vh;
    }
    .contactPage .headerBackground{
        height:30vh;
    }
    header{ 
        h1,h2{
            font-size:4.8rem;
        }
    }
}

@media (max-width:550px){
    header{ 
        h1,h2{
            font-size:4rem;
        }

    }
}