a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

p {
  color: #999999;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3rem;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

span {
  font-weight: 600;
  color: #000000;
}

/* styling header for three pages*/
.headerBackground {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.homePage .headerBackground {
  background-image: url(../sunshine-assets/home-1.jpeg);
}

.blogPage .headerBackground {
  background-image: url(../sunshine-assets/blog-1.jpeg);
}

.contactPage .headerBackground {
  background-image: url(../sunshine-assets/contact-1.jpeg);
}

/* layout and text styling of nav section */
.navBar {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
}

.navRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 5.8rem;
  font-weight: 700;
  text-align: center;
  line-height: 2.6rem;
  letter-spacing: 1.4px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.navBar a {
  font-size: 1.4rem;
  font-weight: 600;
}

/* Introduction Section */
.introSection {
  background-color: #EDEDED;
  padding: 15rem 0;
}

.introContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 12rem 12rem 0 12rem;
  /* adding a decorative short line on top of the title */
}

.introContent h2 {
  font-size: 4.8rem;
  letter-spacing: -1.2px;
}

.introContent aside {
  position: relative;
}

.introContent h2:before {
  content: " ";
  display: block;
  width: 4.5rem;
  border-top: 3px solid black;
  padding-bottom: 5rem;
}

h4 {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 8px;
  text-align: center;
  text-transform: uppercase;
  color: #999999;
}

.introWords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5rem;
}

.introWords,
.introContent aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}

/* adding a frame for the about section's image */
.homeImgOne {
  border: 1.5rem solid #ffffff;
}

/* place the circle logo in the right position */
.circleLogo {
  position: absolute;
  bottom: -12rem;
  left: -12rem;
  z-index: 1;
}

/* offer of the hotel section styling */
.offerSection {
  background-image: url(../sunshine-assets/home-3.jpeg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 120vh;
}

.offerSection ul {
  float: left;
  width: 60%;
  height: 100vh;
}

.offerSection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12rem;
}

.offerSection li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offerSection h3,
.offerSection i {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.offerCotent {
  padding-left: 1rem;
  width: 80%;
}

/* testimonial section styling */
.clientSection {
  background-image: url(../sunshine-assets/pattern.png);
  padding: 5rem;
}

.clientSection h2 {
  font-size: 5.8rem;
  letter-spacing: -1.4px;
  text-transform: capitalize;
}

.clientContent {
  background-color: #ffffff;
  height: 80vh;
  padding: 5rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.clientContent p:nth-child(3) {
  font-family: 'Playfair Display', serif;
  font-size: 2.4rem;
  font-style: italic;
  line-height: 3.6rem;
  color: #000000;
  padding-top: 3rem;
}

.starRating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa-star {
  color: #F6AB09;
  font-size: 3rem;
}

.fa-chevron-right,
.fa-chevron-left {
  position: absolute;
  z-index: 1;
  font-size: 4rem;
}

.fa-chevron-left {
  top: 50%;
  left: -8%;
}

.fa-chevron-right {
  top: 50%;
  right: -8%;
}

.galleryContent {
  padding: 13rem 0;
}

.galleryContent h4,
.galleryContent h2 {
  padding-bottom: 3rem;
}

.galleryContent h2 {
  text-align: center;
}

.galleryContent ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.galleryContent li {
  width: calc((100% / 3) - 2rem);
  margin: 1rem;
}

.galleryContent img {
  width: 100%;
}

.contactSectionImg {
  background-image: url(../sunshine-assets/home-10.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 55%;
  height: 100vh;
}

.contactSectionOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactSectionOne h2 {
  font-size: 5.8rem;
  letter-spacing: -1.4px;
  text-transform: capitalize;
  padding-bottom: 10rem;
}

.contactSectionOne span {
  letter-spacing: -1.4px;
  text-transform: capitalize;
}

.contactSectionOne p:nth-of-type(3) {
  font-weight: 600;
  padding: 4rem 0 0 0;
}

.contactSectionOne p:nth-of-type(4) {
  font-family: 'Playfair Display', serif;
  font-size: 2.4rem;
  color: #000000;
}

.contactOneContent {
  width: 45%;
  padding: 10rem 0 10rem 5rem;
}

.contactOneContent h4 {
  text-align: left;
  padding-bottom: 2rem;
}

.contactOneContent .city {
  font-size: 2.4rem;
}

.city,
.ourEmail span {
  font-family: 'Playfair Display', serif;
}

.address {
  padding-bottom: 3rem;
}

footer {
  background-color: #000000;
  height: 50vh;
}

footer a,
footer i,
footer label {
  color: #999999;
  font-weight: 400;
}

footer a {
  font-size: 1.4rem;
  line-height: 3rem;
  text-transform: capitalize;
}

footer label,
footer input[type=email] {
  font-size: 1.4rem;
  line-height: 3rem;
}

footer input[type=email] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #000000;
  border: none;
  width: 95%;
  color: white;
  padding: 1rem 0;
  font-size: 1.4rem;
  border-bottom: 1px solid #999999;
}

footer i {
  font-size: 1.4rem;
}

.footerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 0;
  height: 100%;
}

.footerLeft,
.footerMid {
  width: 20%;
}

.footerRight {
  width: 50%;
}

.footerBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-top: 1px solid #999999;
  padding-top: 3rem;
}

.footerIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main {
  background-color: #EDEDED;
}

.mainSection {
  background-color: white;
  padding: 0 5rem;
}

main h1 {
  font-size: 4.8rem;
  line-height: 6rem;
  letter-spacing: -1.2px;
  text-align: center;
  padding: 5rem 0;
}

.blogNav {
  text-align: center;
}

main p:first-child span {
  color: #000000;
}

.mainSection h5 {
  font-family: 'Playfair Display', serif;
  font-size: 1.6em;
}

.blogArticle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5rem;
  border-bottom: 2px solid #EDEDED;
}

.blogArticle img {
  border-radius: 50%;
}

article {
  padding: 3rem 0 5rem 0;
}

article .socialNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
}

article .socialNav .fab {
  color: #999999;
  font-size: 1.6rem;
  padding-left: 2rem;
}

article .socialNav .fa-twitter {
  color: #00acee;
}

article .socialNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article p {
  padding-top: 2.5rem;
}

article p:first-child {
  color: #000000;
}

.threeArticles h2 {
  font-size: 4.8rem;
  line-height: 6rem;
  letter-spacing: -1.2px;
  border-bottom: 2px solid #EDEDED;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}

.threeArticles ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3rem;
}

.threeArticles li {
  width: calc((100% / 3));
  margin-left: 2rem;
  line-height: 3rem;
  font-size: 1.6rem;
  border-bottom: 3px solid #EDEDED;
}

.threeArticles li:first-child {
  margin-left: 0;
}

.threeArticles a {
  color: #999999;
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
  padding: 3rem 0;
}

.threeArticles img {
  width: 100%;
}

.threeArticles p, .threeArticles h5 {
  padding-top: 1.5rem;
}

.commentsSection h2 {
  font-size: 4.8rem;
  line-height: 6rem;
  letter-spacing: -1.2px;
  border-bottom: 2px solid #EDEDED;
  padding: 2rem 0;
  margin-bottom: 4rem;
}

.commentsSection li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 3rem;
}

.commentsSection .commentBox {
  position: relative;
  height: auto;
  padding: 2rem;
  background-color: #EDEDED;
}

.commentsSection .tip {
  width: 0px;
  height: 0px;
  position: absolute;
  left: -20px;
  top: 10px;
  background: transparent;
  border: 10px solid #EDEDED;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.commentsSection .comment span {
  color: #A4F1DC;
  font-style: italic;
}

.commentsSection .comment p:first-child {
  color: #000000;
}

.commentsSection .comment p:last-child {
  font-size: 1rem;
  letter-spacing: 0.3px;
}

.feedBack h2 {
  font-size: 4.8rem;
  line-height: 6rem;
  letter-spacing: -1.2px;
  border-bottom: 2px solid #EDEDED;
  padding: 5rem 0 2rem 0;
  margin-bottom: 4rem;
}

.feedBack input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 100%;
  padding: 1rem 0;
  font-size: 1.4rem;
  border-bottom: 2px solid #EDEDED;
}

.feedBack ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 4rem;
}

.feedBack li {
  width: calc(100% / 3);
  margin-right: 3rem;
}

.feedBack li:last-child {
  margin: 0;
}

.feedBack textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 100%;
  font-size: 1.4rem;
  border-bottom: 2px solid #EDEDED;
}

.feedBack button {
  background-color: #84A016;
  color: #EDEDED;
  border: #84A016;
  border-radius: 3px;
  height: 5.5rem;
  width: 20rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 5rem 0;
}
